<?xml version="1.0"?>
<settings>
    <pluginGroups>
        <pluginGroup>org.mule.tools</pluginGroup>
    </pluginGroups>

    <servers>
        <server>
            <id>anypoint-exchange-v3</id>
            <username>~~~Client~~~bda2775af1cb4d8b926de4577621725</username>
            <password>9aaaf8ea985e4f2e88f2552b4de57ae3~?~A297cD8366E7424ab8c5f63DE9251132</password>
        </server>
    </servers>
</settings>
